<section class="">
  <!-- Footer -->
  <footer class="bg-secondary text-white">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">EliMay Hub</h5>

          <p>
            At EliMay's hub we seek to provide you with the best handcrafted wedding apparels.
          </p>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Contact</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a>0544996552</a>
            </li>
            <li>
              <a>0556840595</a>
            </li>

          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">


          <ul class="list-unstyled">
            <li>
              <a class="btn btn-primary" href="https://wa.me/message/NTW7M6QPVLJOM1" role="button">WA Business</a>

            </li>


            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->


    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</section>
